<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>

<configuration scan="true" scanPeriod="30 seconds">
    <property name="LOG_ROOT" value="/data001" />

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern> [%-5level] %d{yy-MM-dd HH:mm:ss} %logger{36} - %m%n </pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_ROOT}/acafe-kiosk-spring.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_ROOT}/acafe-kiosk-spring.%d{yyyy-MM-dd}.log.gz</fileNamePattern>
            <maxHistory>365</maxHistory>
            <totalSizeCap>10GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>[%-5level] %d{yy-MM-dd HH:mm:ss} %logger{36} - %m%n</pattern>
        </encoder>
    </appender>

    <appender name="SOCKET" class="ch.qos.logback.classic.net.SocketAppender">
        <remoteHost>127.0.0.1</remoteHost>
        <port>33000</port>
        <reconnectionDelay>10000</reconnectionDelay>
        <includeCallerData>false</includeCallerData>
        <queueSize>1000</queueSize>
    </appender>

    <logger name="org.springframework" level="info"/>
    <logger name="org.hibernate" level="debug"/>
    <logger name="com.zaxxer.hikari" level="TRACE" />
    <logger name="com.zaxxer.hikari.HikariConfig" level="DEBUG"/>
    <logger name="software.amazon.awssdk.request" level="INFO"/>

    <root level="info">
        <appender-ref ref="FILE"/>
        <appender-ref ref="SOCKET"/>
    </root>

</configuration>